@import './styles/tokens.css';

html {
  scroll-behavior: smooth;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-main);
  color: var(--color-primary);
  background-color: var(--color-white);
  overflow-x: hidden;
}

#root {
  width: 100%;
}

ul { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

input, textarea, button, select {
  font-family: inherit;
}
